.service-component {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.service-component--price {
    background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    padding: 1rem;
}