.photos {
  padding: 16px;
  /* Set the number of columns you want */
  column-count: 2;
  column-gap: 0.25rem;
}

/* Make sure each image fills its container and avoids breaking across columns */
.photos > * {
  display: inline-block;
  width: 100%;
  /* margin-bottom: 0.25rem; */
}