ion-card-title {
    font-size: 1.25rem;
}

.home--about {
    padding: 0 24px;

    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.25rem !important;
        margin: 0;
    }
}

.home--about-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    svg {
        width: 1rem;
        height: 1rem;
        transform: scaleX(-1); transform-origin: center;
    }
}

.home--about-contact-svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.about {
    margin-top: 5rem;
}

/* For Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.home--card-title-service-hours {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home--card-content-service-hours {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}