ion-card-title {
    font-size: 1.25rem;
}

.home {
    margin-bottom: 3rem;
    padding: 24px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.home--logo {
    height: 15rem;
    width: 15rem;
}

.home--about {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
        font-size: 1.25rem !important;
        margin: 0;
    }
}

.home--about-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
    svg {
        width: 1rem;
        height: 1rem;
        transform: scaleX(-1); transform-origin: center;
    }
}

.home--about-contact-svg {
    color: #FFF;
    text-decoration: none;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* For Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.home--card-title-service-hours {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home--card-content-service-hours {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home--card-content-subject-to-change {
    font-size: 0.5rem;
    font-style: italic;
    margin-top: 16px;
}