.faq {
  width: 100%;
  box-sizing: border-box;
}

.faq summary {
  cursor: pointer;
  list-style: none;
  padding: 0;
  transition: color 0.15s ease-in;
  
  /* Flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.faq summary::-webkit-details-marker {
  display: none;
}

.faq > p {
  opacity: 0;
  padding-top: 0;
  transition: opacity 0.3s ease-in-out, padding-top 0.15s ease-in-out;
}

.faq[open] > p {
  opacity: 1;
  padding-top: 1rem;
}

.summary--svg {
  background-color: #000;
  border-radius: 50%;
  box-sizing: border-box;
  height: 2.25rem;
  width: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.faq summary .summary--svg svg {
  color: #FFF;
  height: 1.75rem;
  width: 1.75rem;
  transition: transform 0.15s ease-in-out;
}

.faq[open] summary .summary--svg svg {
  transform: rotate(45deg);
}