.faq {
  width: 100%;
  box-sizing: border-box;
}

.faq summary {
  cursor: pointer;
  list-style: none;
  padding: 0;
  transition: color 0.15s ease-in;
  
  /* Flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.faq summary::-webkit-details-marker {
  display: none;
}

.faq > p {
  opacity: 0;
  padding-top: 0;
  transition: opacity 0.3s ease-in-out, padding-top 0.15s ease-in-out;
}

.faq[open] > p {
  opacity: 1;
  padding-top: 1rem;
}

.faq summary .summary--svg svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: transform 0.15s ease-in-out;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq[open] summary .summary--svg svg {
  transform: rotate(45deg);
}