@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.app {
    max-width: 35rem;
    margin: 0 auto;
}

h2 {
    color: #FFF !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
}

p {
    color: var(--ion-text-color-step-300, #bbbbbb) !important;
    font-size: 1rem !important;
}

ion-card {
    color: var(--ion-text-color-step-300, #bbbbbb) !important;
}

ion-tab-button svg {
    height: 1rem;
    width: 1rem;
}

ion-tab-bar {
    height: 10vh;
    /* padding-bottom: 2rem;; */
}

.ion-label--faqs {
    text-transform: uppercase;
}

.tab-selected .unselected {
    display: none;
}

.tab-selected .selected {
    display: initial !important;
}

.selected {
    display: none;
}

.tab-selected {
    --color-selected: #fff;
}

ion-label {
    font-size: 0.6rem;
    margin-top: 7px;
}

ion-title {
    background-color: #000000;
}

/* "Close" button in modal */
.button-clear {
  --color: #FFF;
}